{% extends 'base.html.twig' %}
{% block title %}Portfolio
{% endblock %}

{% block body %}
<section id="portfolio" class="py-5">
		<div class="container">
			<h2 class="section-title">Portfolio</h2>
			<div class="row g-4">
				{% for project in projects %}
					<div class="col">
						<div class="project-card">
							<img src="{{ asset('image/portfolio_media/' ~ project.image) }}" alt="{{ project.title }}" class="img-fluid rounded-top">
							<div class="p-3">
								<h5>{{ project.title}}</h5>
								<p class="text-muted mb-2">{{ project.description}}</p>
								{% for skill in project.techStack %}
									<span class="text-success fw-semibold">{{ skill.name }}</span>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
